<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Discord Bot: Connect Discord users to LNbits.
      </h5>
      <p>
        Easily deploy a discord bot to use for your own community!
        <small>
          Created by,
          <a class="text-secondary" href="https://github.com/jacksn"
          >jacksn</a
          ></small
        >
        <br/>
        <small>
          Depends on User Manager, by
          <a class="text-secondary" href="https://github.com/benarc"
          >Ben Arc</a
          ></small
        >
      </p>
    </q-card-section>
  </q-card>
</q-expansion-item>
